/*------------- Reset browser differences ------------- */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #d0d1d3;
  color: #667073;
  font: 16px/1.3 'Arial',sans-serif;
}


#banner {
  height: 70px;
  background-color: #3c4446;
  margin-bottom: 20px;
}

.bannertext {
  text-align: center;
  padding-top: 15px;
  font-family: 'Open Sans Condensed',serif;
  font-weight: bold;
  color: white;
  font-size: 25px;
}

.bannertext span {
  color: #d6441b;
}

.info {
  display: block;
  margin: auto;
  width: 90%;
}

.info h2 {
  text-align: center;
  width: 90%;
  padding: 8px;
  font-size: 14pt;
  background-color: #ffffff;
}

td {
  padding: 2px 8px 2px 8px;
  white-space: nowrap;
}

input {
  font: 12pt 'Arial',sans-serif;
  font-size: 12pt;
}

button {
  font: 12pt 'Arial',sans-serif;
  font-size: 12pt;
}

textarea {
  font: 12pt 'Arial',sans-serif;
  font-size: 12pt;
}

.showimage {
  margin: 2px;
  float: left;
}
