<!DOCTYPE html>

<html>
  <head>
    <title>ScriptCraft script uploader</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10.0, user-scalable=yes" />

    <link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header id="banner">
      <h1 class="bannertext">ScriptCraft script uploader</h1>
    </header>

    <section class="infosection">
      <div id="fourohfour">
        <div class="info">
          <h2>404</h2>
        </div>
      </div>
    </section>
  </body>
</html>
